html {
  filter: invert(0.9) hue-rotate(180deg);
}

img,
figure,
video,
iframe,
a[style*="background-image"],
span[style*="background-image"],
div[style*="background-image"] {
  filter: invert(1) hue-rotate(180deg);
}

* {
  box-shadow: none;
  text-shadow: none;
}
